
body{
    font-size: 14px;
    font-family: Trebuchet MS, Verdana, Arial, Helvetica;
}

h5{
    font-size: 16px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    background-color: #FFA800;
    border: 1px solid black;
    margin: 2px;
    text-align: center;
  }

.flex-container{
    display:flex;
    flex-direction: row;
    gap:2px;
    margin: 5px 10px;
    text-align: right;
}

.col1{
    border: 1px solid black;
    background-color: #FFCC00;
    width:20%;
}

.main-contents.col2 {
    border: 1px solid black;
    background-color: #FFCC00;
    /* width:87%; */
}

.title-section{
    background-color: #F0FF00;
    border-bottom: 1px solid black;
    padding: 2px;
}
 
.sidebar_flex_submenu , .sidebar_flex_submenu a{
    text-align: left;
    text-decoration: none;
    list-style-type: none;
}


/** 
    Main contents 
*/

.main-contents-flex-container,.main-contents-flex-container-2{
    display: flex;
    margin:0 0;
}

.section-vertical{
    width: 22px;
    height: auto;
    border: 1px solid black;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0 5px;
    font-weight: bold;
}

.section-horizontal{
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    font-size: 12px;
    height: 50%;
}


.main-contents-flex-container-2 .section-vertical{
    height: auto;
    max-height: fit-content;
    margin: auto 5px;
}

.main-contents-flex-container-2 .section-horizontal{
    border: 1px solid black;
    text-align: left;
    font-size: 12px;
    padding: 0px !important;
    height: 50%;
    padding: 0 5px;
} 

h6 {
    background-color: #FFA800;
    border: 1px solid black;
    padding-left: 2px;
}

.main-contents-flex-container-2 .main-content-col{
    width:50%;
    border: 1px solid black;
    margin:2px;
    background-color: #FFCC00;
}

.section-vertical-col{
    margin-right: 2px !important;
    margin-left: 1px !important;
}


.main-contents-flex-container-2 .main-content-col-full{
    width:100%;
    border: 1px solid black;
    margin:2px;
    background-color: #FFCC00;
    text-align: left;
}

.middle-left-contents{
    text-align: center;
}

.main-content-col{
    text-align: left;
}
